<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" target="$mono_libdir\SDL2-x86.dll" os="windows" cpu="x86"/>
	<dllmap dll="SDL2" target="$mono_libdir\SDL2-x86_64.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="FAudio" target="$mono_libdir\FAudio-x86.dll" os="windows" cpu="x86"/>
	<dllmap dll="FAudio" target="$mono_libdir\FAudio-x86_64.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="FNAMF" target="$mono_libdir\FNAMF-x86.dll" os="windows" cpu="x86"/>
	<dllmap dll="FNAMF" target="$mono_libdir\FNAMF-x86_64.dll" os="windows" cpu="x86-64"/>
	<dllmap dll="FNA3D" target="$mono_libdir\FNA3D-x86.dll" os="windows" cpu="x86"/>
	<dllmap dll="FNA3D" target="$mono_libdir\FNA3D-x86_64.dll" os="windows" cpu="x86-64"/>
</configuration>
