<configuration>
        <appSettings>
                <add key="docPath" value="/vagrant/build/mono-unix-install/lib/monodoc" />
                <add key="docExternalPath" value="" />
                <!-- <add key="cache" value="file,~/path/to/cache/directory" /> -->
        </appSettings>
</configuration>
